.Games-Container {
    display: flex;
}

.Games-container2 {
    display: flex;
}

.Games-Hangman {
    margin: 30px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background: url(./Images/Hamgman-bg.jpg);
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}

.Games-Hangman:hover {
    transform: scale(1.2);
}

.Games-Hangman-text {
    margin-left: 75px;
}

.Games-MCQs {
    margin: 30px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background: url(./Images/Quiz-bg.png);
    background-size: contain;
    transition: transform 0.3s ease-in-out;
}

.Games-MCQs:hover {
    transform: scale(1.2);
}

.Games-MCQs-Text {
    margin-left: 95px;
}

.Games-TicTacToe {
    margin: 30px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background: url(./Images/TicTacToe-bg.jpg);
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}

.Games-TicTacToe:hover {
    transform: scale(1.2);
}

.Games-TicTacToe-Text {
    margin-left: 70px;
}

.Games-TypeTheWord {
    margin: 30px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background: url('./Images/TypeTheWord-bg.jpg') no-repeat;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}

.Games-TypeTheWord:hover {
    transform: scale(1.2);
}

.Games-TypeTheWord-Text {
    margin-left: 46px;
}

.Games-MatchWI {
    margin: 30px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background: url('./Images/MatchWI-bg.jpg') no-repeat;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}

.Games-MatchWI:hover {
    transform: scale(1.2);
}

.Games-MatchWI-Text {
    margin-left: 0px;
    text-align: center;
}

.Games-Memory {
    margin: 30px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background: url(./Memory/Assets/Memory-BG.webp) no-repeat center center;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}

.Games-Memory:hover {
    transform: scale(1.2);
}

.Games-Memory-Text {
    margin-left: 45px;
    margin-bottom: 20px;
}

.Games-SyllablesFinder {
    margin: 30px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background: url(./Images/SyllablesFinder.jpeg) no-repeat center center;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}

.Games-SyllablesFinder:hover {
    transform: scale(1.2);
}

.Games-SyllablesFinder-Text {
    margin-left: 40px;
    margin-bottom: 20px;
}

.Games-Homophones {
    margin: 30px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background: url(./Images/homophones.jpeg) no-repeat center center;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}

.Games-Homophones:hover {
    transform: scale(1.2);
}

.Games-Homophones-Text {
    margin-left: 20px;
    margin-bottom: 20px;
}

@Media (max-width: 767px) {

    .Games-Parent {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-Container {
        display: flex;
    }

    .Games-container2 {
        display: flex;
        flex-direction: column;
    }

    .Games-Hangman {
        margin: 20px;
        width: 170px;
        height: 120px;
        border-radius: 5px;
        background: url(./Images/Hamgman-bg.jpg);
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-Hangman:hover {
        transform: scale(1.2);
    }

    .Games-Hangman-text {
        margin-left: 67px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-MCQs {
        margin: 20px;
        width: 170px;
        height: 120px;
        border-radius: 5px;
        background: url(./Images/Quiz-bg.png);
        background-size: contain;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-MCQs:hover {
        transform: scale(1.2);
    }
    
    .Games-MCQs-Text {
        margin-left: 78px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-TicTacToe {
        margin: 20px;
        width: 170px;
        height: 120px;
        border-radius: 5px;
        background: url(./Images/TicTacToe-bg.jpg);
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-TicTacToe:hover {
        transform: scale(1.2);
    }
    
    .Games-TicTacToe-Text {
        margin-left: 58px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-Container {
        display: flex;
        flex-direction: column;
    }
    
    .Games-TypeTheWord {
        margin: 20px;
        width: 170px;
        height: 120px;
        border-radius: 5px;
        background: url('./Images/TypeTheWord-bg.jpg') no-repeat;
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-TypeTheWord:hover {
        transform: scale(1.2);
    }
    
    .Games-TypeTheWord-Text {
        margin-left: 40px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-MatchWI {
        margin: 20px;
        width: 170px;
        height: 120px;
        border-radius: 5px;
        background: url('./Images/MatchWI-bg.jpg') no-repeat;
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-MatchWI:hover {
        transform: scale(1.2);
    }
    
    .Games-MatchWI-Text {
        margin-left: 0px;
        text-align: center;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-Memory {
        margin: 20px;
        width: 170px;
        height: 120px;
        border-radius: 5px;
        background: url(./Memory/Assets/Memory-BG.webp) no-repeat center center;
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-Memory:hover {
        transform: scale(1.2);
    }
    
    .Games-Memory-Text {
        margin-left: 40px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-SyllablesFinder {
        margin-left: 20px;
        margin-top: 10px;
        width: 170px;
        height: 120px;
        border-radius: 5px;
        background: url(./Images/SyllablesFinder.jpeg) no-repeat center center;
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-SyllablesFinder:hover {
        transform: scale(1.2);
    }
    
    .Games-SyllablesFinder-Text {
        margin-left: 35px;
        margin-left: 35px;
        margin-top: -10px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
}

@Media (max-width: 400px) {

    .Games-Parent {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-Container {
        display: flex;
        flex-direction: column;
    }

    .Games-container2 {
        display: flex;
        flex-direction: column;
    }

    .Games-Hangman {
        margin: 20px;
        width: 140px;
        height: 100px;
        border-radius: 5px;
        background: url(./Images/Hamgman-bg.jpg);
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-Hangman:hover {
        transform: scale(1.2);
    }

    .Games-Hangman-text {
        margin-left: 43px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-MCQs {
        margin: 20px;
        width: 140px;
        height: 100px;
        border-radius: 5px;
        background: url(./Images/Quiz-bg.png);
        background-size: contain;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-MCQs:hover {
        transform: scale(1.2);
    }
    
    .Games-MCQs-Text {
        margin-left: 63px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-TicTacToe {
        margin: 20px;
        width: 140px;
        height: 100px;
        border-radius: 5px;
        background: url(./Images/TicTacToe-bg.jpg);
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-TicTacToe:hover {
        transform: scale(1.2);
    }
    
    .Games-TicTacToe-Text {
        margin-left: 38px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-Container {
        display: flex;
        flex-direction: column;
    }
    
    .Games-TypeTheWord {
        margin: 20px;
        width: 140px;
        height: 100px;
        border-radius: 5px;
        background: url('./Images/TypeTheWord-bg.jpg') no-repeat;
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-TypeTheWord:hover {
        transform: scale(1.2);
    }
    
    .Games-TypeTheWord-Text {
        margin-left: 22px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-MatchWI {
        margin: 20px;
        width: 140px;
        height: 100px;
        border-radius: 5px;
        background: url('./Images/MatchWI-bg.jpg') no-repeat;
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-MatchWI:hover {
        transform: scale(1.2);
    }
    
    .Games-MatchWI-Text {
        text-align: center;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-Memory {
        margin: 20px;
        width: 140px;
        height: 100px;
        border-radius: 5px;
        background: url(./Memory/Assets/Memory-BG.webp) no-repeat center center;
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-Memory:hover {
        transform: scale(1.2);
    }
    
    .Games-Memory-Text {
        margin-left: 22px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }

    .Games-SyllablesFinder {
        margin-left: 20px;
        margin-top: 10px;
        width: 140px;
        height: 100px;
        border-radius: 5px;
        background: url(./Images/SyllablesFinder.jpeg) no-repeat center center;
        background-size: cover;
        transition: transform 0.3s ease-in-out;
    }
    
    .Games-SyllablesFinder:hover {
        transform: scale(1.2);
    }
    
    .Games-SyllablesFinder-Text {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        text-align: center;
        margin-left: -10px;
        margin-top: -10px;
    }
};